
html {
    scroll-behavior: smooth;
}
body {
    margin-left: 20px;  /* Adjust the left margin */
    margin-right: 20px; /* Adjust the right margin */
}
/* buttons */
.btn {
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease;
}

.btn:hover::after {
    width: 300px;
    height: 300px;
}

/* feature icons and description */
.feature-icon {
    font-size: 2rem;
    color: #007bff;
}

.feature-title {
    font-weight: bold;
}

.feature-text {
    margin-top: 10px;
}
